#root {
  margin: 0 auto;
  width: 100vw;
}
.võistlejad{
  display: absolute;
  padding-left: 40%;
}
#võistlusalad{
  text-align: center;
}
#tulemused{
  text-align: center;
}
button{
  background-color: rgb(224, 91, 91);
  color: rgb(0, 0, 0);
}
button:disabled{
  background-color: rgb(255, 255, 255);
  color: red;
}

table{
  border: 2px solid black;
  margin: auto;
}

#addCompetitor{
  display: flex;
  flex-direction: column;
}

input{
  max-width: 20%;
}

#addCompetitorButton{
  max-width: 20%;
  margin-top: 20px;
}