#products{
  margin: 10px;
}

h1{
  color: rgb(30, 0, 113);
}

.mainPageContainer{
  padding-top: 10px;
}
.arrayContainer{
  padding-top: 10px;
}
.ordersContainer{
  padding-top: 5px;
}
#orderContainer{
  padding-bottom: 15px;
}
/* siit kõik automaatselt loodud*/
#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  background-color: rgb(184, 202, 66);

  text-align: center;
  width: 100vw;
}
